body {
  background-color: white;
}
nav {
  /*border: 1px solid #000;*/
  color: white;
  text-shadow: 0 0 4px #000;
  background-color: dimgrey;
  height: 100px;
  /*background-image: url('images/Statues_Cambodia.JPG');*/
  /*display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;*/
}
nav ul {
  /*border: 1px solid #000;*/
  list-style-type: none;
  padding-top: 25px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}
nav ul li a {
  /*border: 1px solid #000;*/
  color: white;
  font-family: 'Monda', sans-serif;
  font-weight: bolder;
  font-size: 2em;
  text-shadow: 0 0 4px #000;
  text-decoration: none;
  padding:  0 15px;
}
nav ul li a:link {
  text-shadow: none;
  text-decoration: none;
}
nav ul li a:hover {
  text-shadow: none;
  text-decoration: none;
  border-radius: 5px;
  background-color: rgba(72, 132, 113, 0.6);
}

#filmmakers {
  /*border: 1px solid #000000;*/
}
#filmmakers ul {
  list-style-type: none;
}

#filmmakers li {
  /*border: 1px solid #000000;*/
  height: 400px;
}
