body {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav {
  /*border: 1px solid #000;*/
  color: white;
  text-shadow: 0 0 4px #000;
  background-color: dimgrey;
  width: 100%;
  height: 550px;
  background: url('images/Hom_Chhorn.JPG');
  background-size: cover;
  max-width: 1350px;
}
nav ul {
  /*border: 1px solid #000;*/
  list-style-type: none;
  padding: 25px 0;
  width: 100%;
  background-color: #444;
  opacity: .5;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
nav ul li a {
  /*border: 1px solid #000;*/
  color: white;
  font-family: 'Monda', sans-serif;
  font-weight: bolder;
  font-size: 2em;
  text-shadow: 0 0 4px #000;
  text-decoration: none;
  padding:  0 15px;
}
nav ul li a:link {
  text-shadow: none;
  text-decoration: none;
}
nav ul li a:hover {
  color: white;
  text-shadow: none;
  text-decoration: none;
  border-radius: 5px;
  background-color: rgba(72, 132, 113, 0.6);
}

main {
  margin-top: 10px;
  text-color:black;
  max-width: 1350px;

}


#synopsis figure {
  margin-top: 10px;
}

#filmmakers {
  /*border: 1px solid #000000;*/
}
#filmmakers ul {
  list-style-type: none;
}

#filmmakers li {
  /*border: 1px solid #000000;*/
  height: 500px;
}
