body {
  background-color: white;

}
main {
  margin-top: 10px;
  background: url("images/Statues_Cambodia.jpg") no-repeat;
  background-size: cover;
  opacity: 0.5;

  text-color:black;
}

nav {
  /*border: 1px solid #000;*/
  color: white;
  text-shadow: 0 0 4px #000;
  background-color: dimgrey;
  height: 440px;
  background: url('images/Hom_Chhorn.JPG');
  background-size: cover;
}
nav ul {
  /*border: 1px solid #000;*/
  list-style-type: none;
  padding-top: 25px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
nav ul li a {
  /*border: 1px solid #000;*/
  color: white;
  font-family: 'Monda', sans-serif;
  font-weight: bolder;
  font-size: 2em;
  text-shadow: 0 0 4px #000;
  text-decoration: none;
  padding:  0 15px;
}
nav ul li a:link {
  text-shadow: none;
  text-decoration: none;
}
nav ul li a:hover {
  color: white;
  text-shadow: none;
  text-decoration: none;
  border-radius: 5px;
  background-color: rgba(72, 132, 113, 0.6);
}

#filmmakers {
  /*border: 1px solid #000000;*/
}
#filmmakers ul {
  list-style-type: none;
}

#filmmakers li {
  /*border: 1px solid #000000;*/
  height: 400px;
}
